@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

input:focus {
  outline: none;
}


:root {
  --primary-color: #0E3459;
  --secondary-color: #05112c;
  --background-color: #000016;
  --text-color: #ced7e0;

  --primary-color-light: #1E4E8C;
  --secondary-color-light: #E6EEF8;
  --background-color-light: #F4F7FB;
  --text-color-light: #1A202C;
}

/* dark mode styles */
@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-background: var(--background-color);
  --color-text: var(--text-color);

  --color-primary-300: #2B6CB0;
  --color-primary-500: #0B2A4A;
}

.light {
  --color-primary: var(--primary-color-light);
  --color-secondary: var(--secondary-color-light);
  --color-background: var(--background-color-light);
  --color-text: var(--text-color-light);
}

.glow-primary {
  box-shadow:
    0 6px 10px rgba(2, 20, 60, 0.55),
    0 0 18px rgba(59, 130, 246, 0.45);
  transition: all 300ms ease;
}

.glow-primary:hover {
  box-shadow:
    0 6px 14px rgba(2, 20, 60, 0.5),
    0 0 22px rgba(59, 130, 246, 0.5);
}