@import "tailwindcss";

:root {
  --primary-color: #4f46e5;
  --secondary-color: #fbbf24;
  --background-color: #f3f4f6;
  --text-color: #1f2937;
}

/* Dark mode styles */
@theme {
  --color-primary: #4f46e5;
  --color-background: #f3f4f6;
  --color-text: #1f2937;
}

.dark {
  --color-primary: red;
  --color-background: #111827;
  --color-text: #f9fafb;
}
